@namespace GTRouteApp.Components.Browse

<span class="button-tooltip" 
    style="--width: @(WidthInPx)px;
        --topPos: @(TopPositionInPx)px; 
        --rightPos: @(RightPositionInPx)px;">
    @Text
</span>

@code {
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public int WidthInPx { get; set; }
    [Parameter]
    public int TopPositionInPx { get; set; }
    [Parameter]
    public int RightPositionInPx { get; set; }
}