@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.BrowseComponents
@inject NavigationManager NavigationManager

<div class="list-container">
    <p>
        Sidebar In Construction!!!
    </p>
    <p>
        Highlight In Construction!!!!
    </p>
</div>

@code {

}