.btn {
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.list-container {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 85vh;
}

.list-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
    overflow-y: scroll;
    overflow-anchor: none;
    justify-content: flex-start;
    padding-top: 6px;
    box-shadow: inset 1px 1px 8px rgba(30, 32, 34, 0.6);
}

    .list-sidebar::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
    }

    .list-sidebar::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #1e2022;
        border: 1.2px solid #e8e8e8;
    }

.item-content {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin: 4px;
    height: 70px;
    align-items: center;
    padding-inline: 12px;
    padding-block: 8px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 8px;
    transition: .25s;
}

    .item-content img {
        background-color: #1e2022;
        object-fit: contain;
        width: 30%;
        height: 54px;
        border-radius: 4px;
        filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.6));
    }

    .item-content p {
        margin-block: 4px;
        width: 70%;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.1;
        text-shadow: 1px 0 8px rgba(30, 32, 34, 0.4);
    }
    
    .item-content:hover {
        cursor: pointer;
        background-color: #fff;
        border-color: #ffc107;
        transform: scale(0.98);
        box-shadow: 1px 1px 10px rgba(30, 32, 34, 0.9);
    }

.more-notice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #1e2022;
    padding-inline: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
}

    .more-notice p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 3px;
        text-align: center;
        text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.4);
    }

@media (max-width: 540px) {
    .list-container {
        height: 78vh;
    }
}