@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <IndexSubheader Info="Welcome to GTRoad! Here you can look for information of every race tracks that featured on Gran Turismo series." />
    <div class="home-featured">
        <div class="featured-row-1">
            <div class="row-1-featured-item" style="background-color: #aaa">

            </div>
            <div class="row-1-featured-item" style="background-color: #bbb">

            </div>
        </div>
        <div class="featured-row-2">
            <div class="row-2-featured-item" style="background-color: #ccc">

            </div>
            <div class="row-2-featured-item" style="background-color: #ddd">

            </div>
            <div class="row-2-featured-item" style="background-color: #eee">

            </div>
        </div>
    </div>
</div>

@code {

}