@page "/"
@using GTRouteApp.Data
@inject FeaturedService FeaturedService
@inject NavigationManager NavigationManager

<PageTitle>Home | GTRoad</PageTitle>

<div class="home-container">
    @if (featured == null || featured.Count() == 0)
    {
        <NoDataView Message="@errorMessage" ShowError="@showError" />
    }
    else
    {
        <IndexSubheader Info="Welcome to GTRoad! Here you can look for information of race tracks that featured on Gran Turismo series." />

        <IndexFeatured Featured="@featured" />

        <IndexNotice />
    }
</div>

@code {
    private List<FeaturedTrack> featured = new();

    private string errorMessage = "";
    private bool showError = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadFeatured();
        CheckError();
    }

    private async Task LoadFeatured()
    {
        var fetched = await FeaturedService.GetFeatured();
        featured.AddRange(fetched);
    }

    private void AccessTrackDetail(string slug)
    {
        NavigationManager.NavigateTo($"/browse/detail/{slug}?origin=home");
    }

    private void CheckError()
    {
        errorMessage = FeaturedService.GetRecentErrorMessage();
        showError = string.IsNullOrWhiteSpace(errorMessage) ? false : true;
    }
}