@using GTRouteApp.Models
@inject NavigationManager NavigationManager

<div class="media-container">
    <div class="header-section">
        <h4><span class="bi bi-card-image"></span> Featured Media</h4>
    </div>
    
    <div class="image-section">
        <div class="image-placeholder">
            <div class="image-shimmer"></div>
            <span class="bi bi-image"></span>
        </div>
        <img src="img/sample-cover.jpg" 
            alt="Picture of randomly selected track">
        <button type="button" 
            title="See Image in Full Screen"
            class="btn btn-secondary full-btn">
            <span class="bi bi-arrows-fullscreen"></span> 
            <span class="full-btn-text" style="margin-left: 6px">See Image in Full Screen</span>
        </button>
        <div class="image-info-section">
            <div class="image-info-part-1">
                <p>Placeholder of track image description.</p>
            </div>
            <div class="image-info-part-2">
                <p>
                    <span class="bi bi-camera-fill"></span> by source
                </p>
            </div>
        </div>
    </div>

    <div class="track-info-section">
        <div class="track-logo-and-name">
            <img src="img/sample-logo.png" 
                alt="track logo" />
            <div class="track-name">
                <a 
                    class="clickable-text"
                    href="@hrefTrack">
                    Trial Mountain
                </a>
                <div class="track-country-and-category">
                    <p><span class="fi fi-jp"></span> USA</p>
                    <p>|</p>
                    <p>Original Circuit</p>
                </div>
            </div>
        </div>
        <button type="button" 
            class="btn btn-success"
            @onclick="@(() => AccessTrackDetail(tempSlug))">
            View Track
        </button>
    </div>
</div>

@code {
    private string tempSlug = "trial-mountain-circuit-1666685272";
    private string hrefTrack = "";

    protected override void OnParametersSet()
    {
        hrefTrack = $"/browse/detail/{tempSlug}?origin=home";
    }

    private void AccessTrackDetail(string slug)
    {
        NavigationManager.NavigateTo($"/browse/detail/{slug}?origin=home");
    }
}