<div class="in-progress-notice">
    <h4>
        <span class="bi bi-cone-striped" style="margin-right: 8px;"></span>
        More Race Tracks will be added in the future
        <span class="bi bi-cone-striped" style="margin-left: 8px;"></span>
    </h4>
    <p>
        Currently, I'm still in process of adding many race tracks from Gran Turismo series into GTRoad's database. 
        These race track entries will be available gradually in the future. I also try to improve GTRoad as whole 
        and I'll always welcome your feedback, so feel free to <a href="contact">contact me</a>.
    </p>
</div>

@code {

}