@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <IndexSubheader Info="Welcome to GTRoad! Here you can look for information of every race tracks that featured on Gran Turismo series." />
    <div class="home-featured">
        <div class="featured-row-1">
            <div class="featured-1">

            </div>
            <div class="featured-2">

            </div>
        </div>
        <div class="featured-row-2">
            <div class="featured-3">

            </div>
            <div class="featured-4">

            </div>
            <div class="featured-5">

            </div>
        </div>
    </div>
</div>

@code {

}