.home-featured {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.featured-media {
    display: none;
}

    ::deep .media-container {
        border-top: none;
    }

    ::deep .image-section {
        height: 28vh;
    }

.featured-row-1, .featured-row-2 {
    width: 100%;
    height: 42.5vh;
    display: flex;
    flex-direction: row;
}

.row-1-featured-item, .row-2-featured-item {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    border: 0.1px solid #e8e8e8;
    overflow: hidden;
    color: #f4f4f2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0;
    transition: .25s;
    animation: reveal-featured .5s forwards var(--delay);
}

@keyframes reveal-featured {
    from { translate: 0 20px; }
    to { translate: none; opacity: 1; }
}

.row-1-featured-item:hover, .row-2-featured-item:hover {
    cursor: pointer;
    border: 1.2px solid #ffc107;
}

.row-1-featured-item:hover > .featured-info, 
.row-2-featured-item:hover > .featured-info {
    border-bottom: 5px solid;
}

.row-1-featured-item::before, .row-2-featured-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--bg-cover);
    background-size: cover;
    background-position: center;
    transition: .5s;
    transform: scale(1.1) translateY(4px);
    z-index: -1;
}

.row-1-featured-item:hover::before, .row-2-featured-item:hover::before {
    transform: translateY(0);
    box-shadow: inset 1px 1px 24px 8px rgba(30, 32, 34, 0.8);
}

.featured-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    padding-block: 16px;
    padding-inline: 24px;
    border-bottom: 8px solid;
    transition: .25s;
}

.featured-info img {
    margin-bottom: 8px;
    object-fit: contain;
    width: 120px;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.6));
}

.featured-logo-title {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.featured-title {
    width: 250px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.8);
}

.featured-text {
    margin-bottom: 4px;
    font-size: 16.5px;
    font-weight: 500;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.8);
}

@media (max-width: 540px) {
    .home-featured {
        height: 100%;
    }

    .featured-media {
        display: block;
    }

    .featured-row-1, .featured-row-2 {
        flex-direction: column;
        height: 100%;
    }

    .row-1-featured-item, .row-2-featured-item {
        width: 100%;
        height: 32vh;
    }

    .row-1-featured-item::before, .row-2-featured-item::before {
        transform: scale(1.1) translateY(4px) translateX(-6px);
    }

    .featured-info {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%);
        padding-block: 0;
        padding-inline: 16px;
    }

    .featured-info img {
        width: 20vw;
    }

    .featured-title {
        font-size: 4.4vw;
    }

    .featured-text {
        margin-bottom: 1rem;
        font-size: 4vw;
    }
}