@namespace GTRouteApp.HomeComponents

<div class="header-container">
    <div class="header-contents">
        <h4>
            <span class="bi bi-play-btn"></span>
            <span class="bi bi-card-image"></span>
            <span style="margin-right: 4px"></span> 
            Featured Media
        </h4>
    </div>
</div>