.detail-header {
    background-color: #f4f4f2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-inline: 16px;
    padding-block: 20px;
    justify-content: space-between;
    align-items: center;
    border-inline: 1.5px solid #1e2022;
    border-block: 1.5px solid #1e2022;
    border-radius: 24px 24px 0 0;
}

.detail-header p {
    color: #1e2022;
    margin-bottom: 0;
}

.detail-header-group-1 {
    position: relative;
    width: 30%;
    height: 210px;
    padding-right: 8px;
    border-right: 1px solid #1e2022;
}

.img-cover {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.9);
}

.img-logo {
    position: absolute;
    display: block;
    object-fit: contain;
    width: 54%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 4px rgba(30, 32, 34, 0.6));
}

.detail-header-group-2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 8px;
}

.detail-header-inner {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    justify-content: center;
}

.inner-group-2 {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 8px;
}

.detail-secondary {
    font-size: 14px;
    font-weight: 600;
}

.detail-primary {
    font-size: 18px;
    font-weight: 700;
}

.detail-track-name {
    font-size: 32px;
    font-weight: 700;
}