p {
    color: #1e2022;
    margin-bottom: 0;
}

.detail-other {
    background-color: #f4f4f2;
}

.other-header {
    padding-block: 8px;
    padding-inline: 16px;
}

.other-tracks-list {
    padding-inline: 16px;
    padding-bottom: 16px;
    column-count: 2;
}

.other-header h4 {
    font-weight: 700;
}

.other-item {
    background-color: #f4f4f2;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border: 1px solid #1e2022;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 16px;
}

.item-image {
    background-size: cover;
    background-blend-mode: overlay;
    width: 30%;
}

.item-image img {
    backdrop-filter: blur(1px);
    display: block;
    width: 100%;
    height: 100%;
    padding: 8%;
    object-fit: contain;
    border-right: 2px solid #1e2022;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.6));
}

.item-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 12px;
    justify-content: center;
}

.item-country {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: flex-end;
    padding-right: 24px;
}

.item-country > .info-primary {
    font-size: 16px;
}

.info-primary {
    font-size: 18px;
    font-weight: 700;
}

.info-secondary {
    font-size: 14px;
    font-weight: 600;
}