.detail-container {
    background-color: #f4f4f2;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.detail-nav {
    margin-bottom: 3%;
}

.detail-nav button {
    height: 38px;
    border-radius: 18px;
    font-size: 15px;
}

.detail-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.detail-header img {
    object-fit: contain;
    width: 120px;
}

.detail-header p {
    color: #1e2022;
    margin-bottom: 0;
}

.detail-header-group-1 {
    display: flex;
    flex-direction: row;
}

.detail-header-inner {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    justify-content: center;
}

.detail-secondary {
    font-size: 16px;
    font-weight: 500;
}

.detail-primary {
    font-size: 20px;
    font-weight: 700;
}