.detail-header {
    background-color: #f4f4f2;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline: 16px;
    padding-block: 20px;
    justify-content: space-between;
    align-items: center;
    border-inline: 1.5px solid #1e2022;
    border-block: 1.5px solid #1e2022;
    border-radius: 24px 24px 0 0;
}

.detail-header img {
    object-fit: contain;
    width: 120px;
}

.detail-header p {
    color: #1e2022;
    margin-bottom: 0;
}

.detail-header-group-1 {
    display: flex;
    flex-direction: row;
}

.detail-header-inner {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    justify-content: center;
}

.detail-secondary {
    font-size: 14px;
    font-weight: 600;
}

.detail-primary {
    font-size: 20px;
    font-weight: 700;
}