/**
* 
* Original code source: https://github.com/jh3y/whirl/blob/dist/css/traditional.css
*
*/
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    } 
}
  
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    } 
}
  
/**
* Traditional
*
* @author jh3y
*/
.loading-traditional::before {
    -webkit-animation: spin .5s infinite linear;
            animation: spin .5s infinite linear;
    border-radius: 100%;
    -webkit-box-shadow: inset -2px 0 0 0px #1e2022;
            box-shadow: inset -2px 0 0 0px #1e2022;
    content: '';
    height: 80px;
    position: absolute;
    width: 80px;
    top: 48%;
    left: 45%;
}