.subheader-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: #1e2022;
}

.subheader-info, .subheader-category-selection span {
    color: #f4f4f2;
    font-size: 16px;
    font-weight: 500;
}

.subheader-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.setting-icon {
    color: #f4f4f2;
    border-right: 1px solid #e8e8e8;
    padding-right: 8px;
}

.subheader-category-selection span {
    color: #ffc107;
    margin-left: 12px;
}

.subheader-category-selection > select {
    font-weight: 600;
    border-radius: 0;
    background-color: #f4f4f2;
}

.subheader-category-selection {
    background-color: #303841;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    width: 240px;
    height: 30px;
    gap: 6px;
}

.subheader-category-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f2;
    width: 100%;
    height: 100%;
    padding-inline: 2px;
}

.subheader-category-value > p {
    width: 60%;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subheader-view-options {
    display: flex;
    flex-direction: row;
    height: 30px;
    border-radius: 16px;
    overflow: hidden;
    align-items: center;
    margin-right: 8px;
}

.subheader-view-options button {
    border-radius: 0;
    width: 48px;
}

    .subheader-view-options button:nth-of-type(2), 
    .subheader-view-options button:last-of-type {
        margin-left: 1px;
    }

.btn-selection, .btn-category-change {
    color: #1e2022;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-selection:hover, .btn-category-change:hover {
    color: #1e2022;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.btn-category-change {
    width: 64px;
    height: 26px;
    border-radius: 12px;
    padding: 0;
    padding-inline: 8px;
    font-size: 12px;
    font-weight: 700;
}

.btn-category-change span {
    color: #1e2022;
    display: none;
}

.btn-category-change p {
    margin-bottom: 0;
}

@media (max-width: 540px) {
    .subheader-container {
        flex-direction: column-reverse;
        align-items: stretch;
        height: auto;
        gap: 8px;
    }

    .subheader-info {
        font-size: 3.8vw;
        width: auto;
    }

    .subheader-options {
        width: auto;
        border-left: 0;
    }

    .subheader-category-selection {
        width: 70%;
    }

    .subheader-category-selection > select {
        height: 32px;
    }

    .subheader-category-value > p {
        font-size: 12.5px;
        font-weight: 700;
    }

    .subheader-view-options {
        height: 32px;
        border-radius: 24px;
    }

    .subheader-view-options button {
        width: 54px;
    }

    .btn-category-change {
        width: 46px;
    }

    .btn-category-change span {
        display: contents;
    }

    .btn-category-change p {
        display: none;
    }
}