.header-container {
    border-top: 12px solid #303841;
}

.header-contents {
    padding-inline: 32px;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #1e2022;
}

.header-contents h4 {
    font-weight: 700;
    margin-bottom: 0;
}

@media (max-width: 540px) {
    .header-container {
        border-top: 0;
    }

    .header-contents {
        padding-inline: 24px;
        padding-top: 8px;
        padding-bottom: 0;
    }
}