.detail-layout-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.detail-layout-container p {
    color: #1e2022;
    margin-bottom: 0;
}

.layout-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #1e2022;
}

.layout-cover {
    position: relative;
    margin-top: 6px;
    height: 14%;
}

.layout-cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 1.0) 0%, rgba(232, 232, 232, 0.1) 64%);
}

.layout-cover img {
    object-fit: cover;
    object-position: center 30%;
    width: 100%;
    height: 100%;
}

.layout-highlight {
    display: flex;
    flex-direction: row;
    margin-inline: 16px;
    margin-top: 16px;
}

.layout-map {
    width: 50%;
    max-width: 480px;
    max-height: 295px;
    aspect-ratio: 360 / 220;
    border-radius: 12px;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
    overflow: hidden;
}

.layout-map img {
    background-color: #303841;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.layout-info {
    width: 45%;
    height: 100%;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
}

.info-group {
    margin-top: 12px;
}

.info-group:first-child {
    margin-top: 8px;
}

.info-label {
    font-size: 14px;
    font-weight: 600;
}

.info-value {
    font-size: 26px;
    font-weight: 700;
}

.detail-track-name {
    font-size: 32px;
    font-weight: 700;
}

.layout-selection {
    margin-top: auto;
    height: 160px;
    background-color: #f4f4f2;
    display: flex;
    flex-direction: row;
    padding-inline: 16px;
    padding-block: 12px;
    overflow-x: scroll;
    gap: 10px;
    box-shadow: inset 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.layout-selection::-webkit-scrollbar {
    background-color: #f4f4f2;
    height: 4px;
}

.layout-selection::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1e2022;
}

.layout-item, .layout-item-selected {
    background-color: #303841;
    min-width: 190px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
}

.layout-item:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(30, 32, 34, 0.9);
}

.layout-item img, .layout-item-selected img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.layout-item img {
    filter: grayscale(0.8);
    border: 2px solid #1e2022;
}

.layout-item:hover img {
    filter: grayscale(0);
}

.layout-item-selected img {
    border: 2px solid #ffc107;
    border-radius: 12px;
}