.detail-layout-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.detail-layout-container p {
    color: #1e2022;
    margin-bottom: 0;
}

.layout-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #1e2022;
}

.layout-cover {
    position: relative;
    margin-top: 6px;
    height: 14%;
}

.layout-cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(232, 232, 232, 1.0) 0%, rgba(232, 232, 232, 0.1) 64%);
}

.layout-cover img {
    object-fit: cover;
    object-position: center 30%;
    width: 100%;
    height: 100%;
}

.layout-selection-area {
    display: grid;
    grid-template-areas: "label1 label2"
                        "selection info";
    grid-template-columns: 35% 65%;
    grid-template-rows: 5% 95%;
    height: 74.8%;
}

.layout-selection-label-1, .layout-selection-label-2 {
    padding-inline: 16px;
    padding-block: 3px;
    color: #1e2022;
    font-size: 14px;
    font-weight: 600;
}

.layout-selection-label-1 {
    grid-area: label1;
    background-color: #e8e8e8;
}

.layout-selection-label-2 {
    grid-area: label2;
    background-color: #f4f4f2;
}

.layout-selection-label1 span, .layout-selection-label-2 span {
    margin-right: 2px;
}

.layout-highlight {
    grid-area: info;
    background-color: #f4f4f2;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-inline: 16px;
    padding-top: 2px;
}

.layout-map {
    width: 50%;
    max-width: 480px;
    max-height: 295px;
    aspect-ratio: 360 / 220;
    border-radius: 12px;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
    overflow: hidden;
}

.layout-map img {
    background-color: #303841;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.layout-info {
    height: 100%;
    padding-inline: 4px;
    display: flex;
    flex-direction: column;
}

.info-group {
    margin-top: 12px;
}

.info-group:first-child {
    margin-top: 8px;
}

.info-label {
    font-size: 14px;
    font-weight: 600;
}

.info-value {
    font-size: 26px;
    font-weight: 700;
}

.detail-track-name {
    font-size: 32px;
    font-weight: 700;
}

.layout-selection {
    grid-area: selection;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-inline: 16px;
    padding-top: 2px;
    padding-bottom: 12px;
    overflow-y: scroll;
    gap: 10px;
}

.layout-selection::-webkit-scrollbar {
    background-color: #e8e8e8;
    width: 8px;
}

.layout-selection::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1e2022;
    border: 1.2px solid #e8e8e8;
}

.layout-item, .layout-item-selected {
    background-color: #303841;
    min-height: 110px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
}

.layout-item:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(30, 32, 34, 0.9);
}

.layout-item img, .layout-item-selected img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.layout-item img {
    filter: grayscale(0.8);
    border: 2px solid #1e2022;
}

.layout-item:hover img {
    filter: grayscale(0);
}

.layout-item-selected img {
    border: 2px solid #ffc107;
    border-radius: 12px;
}