@page "/browse/newdetail"

@using GTRouteApp.Data;
@inject NavigationManager NavigationManager;

<PageTitle>New Track Detail | GTRoad</PageTitle>

<div class="detail-container">
    <DetailSubheader />

    <div class="detail-row-2">
        <DetailSidebar />
        <div>
            <p>content here</p>
        </div>
    </div>
</div>

@code {

}