@using GTRouteApp.Helpers

<div class="sidebar-container">
    <div class="back-button" type="button" @onclick="() => GoBack()">
        <span class="bi bi-arrow-left-square"></span>
    </div>

    <div class="sidebar-logo">
        <img class="img-cover" src="@CoverUrl" alt="cover" />
        <img class="img-logo" src="@LogoUrl" alt="logo" />
    </div>

    @if (SelectedSubDetail == SubDetail.General)
    {
        <button class="sidebar-button" type="button" disabled>
            <span class="bi bi-clipboard2-fill" style="margin-right: 6px;"></span> General
        </button>
    }
    else
    {
        <button class="sidebar-button" type="button" @onclick="() => ChangeSubDetail(SubDetail.General)">
            <span class="bi bi-clipboard2-fill" style="margin-right: 6px;"></span> General
        </button>
    }

    @if (SelectedSubDetail == SubDetail.Layout)
    {
        <button class="sidebar-button" type="button" disabled>
            <span class="bi bi-sign-turn-slight-right-fill" style="margin-right: 6px;"></span> Layout
        </button>
    }
    else
    {
        <button class="sidebar-button" type="button" @onclick="() => ChangeSubDetail(SubDetail.Layout)">
            <span class="bi bi-sign-turn-slight-right-fill" style="margin-right: 6px;"></span> Layout
        </button>
    }
    
    @if (SelectedSubDetail == SubDetail.Image)
    {
        <button class="sidebar-button" type="button" disabled>
            <span class="bi bi-images" style="margin-right: 6px;"></span> Image
        </button>
    }
    else
    {
        <button class="sidebar-button" type="button" @onclick="() => ChangeSubDetail(SubDetail.Image)">
            <span class="bi bi-images" style="margin-right: 6px;"></span> Image Gallery
        </button>
    }
</div>

@code {
    [Parameter]
    public EventCallback<SubDetail> OnSubDetailChanged { get; set; }

    [Parameter]
    public EventCallback OnBackClicked { get; set; }

    [Parameter]
    public SubDetail SelectedSubDetail { get; set; } = SubDetail.General;

    [Parameter]
    public string CoverUrl { get; set; } = "";

    [Parameter]
    public string LogoUrl { get; set; } = "";

    private async Task GoBack()
    {
        await OnBackClicked.InvokeAsync();
    }

    private async Task ChangeSubDetail(SubDetail subDetail)
    {
        await OnSubDetailChanged.InvokeAsync(subDetail);
    }
}