@using GTRouteApp.Data

<div class="detail-layout-container">
    <div class="layout-header">
        <p class="detail-track-name">
            <span class="bi bi-geo-alt-fill" style="margin-right: 6px"></span>Grand Valley Speedway
        </p>
    </div>
    <div class="layout-highlight">
        <div class="layout-map">
            <img src="img/sample-map.webp" alt="map" />
        </div>
        <div class="layout-info">
            <div class="info-group">
                <p class="info-label">Name</p>
                <p class="info-value">Grand Valley East</p>
            </div>
            <div class="info-group">
                <p class="info-label">Length</p>
                <p class="info-value">3.32 m</p>
            </div>
            <div class="info-group">
                <p class="info-label">Corners</p>
                <p class="info-value">8</p>
            </div>
        </div>
    </div>
    <div class="layout-selection">

    </div>
</div>