<div class="sidebar-container">
    <div class="sidebar-logo">
        <img class="img-cover" src="img/sample-cover.jpg" alt="cover" />
        <img class="img-logo" src="img/sample-logo.png" alt="logo" />
    </div>
    <button class="sidebar-button" type="button">
        <span class="bi bi-clipboard2-fill" style="margin-right: 6px;"></span> General
    </button>
    <button class="sidebar-button" type="button">
        <span class="bi bi-sign-turn-slight-right-fill" style="margin-right: 6px;"></span> Layouts
    </button>
    <button class="sidebar-button" type="button">
        <span class="bi bi-images" style="margin-right: 6px;"></span> Images
    </button>
</div>