@using GTRouteApp.Models

<div class="detail-showcase-container">
    <div class="showcase-group-1">
        <p class="detail-track-name">
            <span class="bi bi-geo-alt-fill" style="margin-right: 6px"></span>@Name
        </p>
    </div>
    <div class="showcase-group-2">
        @foreach (var video in Videos)
        {
            <p>@video.VideoName</p><br>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public List<TrackVideo> Videos { get; set; } = new();
}