h4 {
    font-weight: 700;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

a {
    color: #f4f4f2;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

a:hover {
    color: #e8e8e8;
}

.btn-success {
    display: block;
    font-size: 14px;
    font-weight: 600;
    border-radius: 24px;
    padding-block: 10px;
    padding-inline: 24px;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.media-container {
    display: flex;
    flex-direction: column;
    padding-inline: 16px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.media-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media-item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 50%;
}

.image-section {
    position: relative;
    background-color: #2b2b28;
    height: 44vh;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.6);
    isolation: isolate;
}

.image-section p {
    color: #f4f4f2;
    font-size: 14px;
    font-weight: 600;
}

.image-placeholder {
    position: absolute;
    background-color: rgba(48, 56, 65, 0.3);
    width: 65%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid rgba(202, 202, 202, 0.8);
    overflow: hidden;
}

.image-placeholder span {
    position: absolute;
    font-size: 6vw;
    color: #1e2022;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(202, 202, 202, 0) 0%, 
        rgba(202, 202, 202, 0.2) 20%,
        rgba(202, 202, 202, 0.5) 60%,
        rgba(202, 202, 202, 0) 100%);
    animation: loading-shimmer 1s infinite;
}

.image-section img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: drop-shadow(1px 1px 10px rgba(30, 32, 34, 0.8));
    box-shadow: inset 1px 1px 8px rgba(30, 32, 34, 0.6);
    opacity: 0;
    animation: reveal .5s ease-in-out forwards;
}

.full-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: auto;
    height: 45px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 12px;
    background-color: rgba(30, 32, 34, 0.7);
    color: #f4f4f2;
    border-radius: 12px;
}

.image-info-section {
    position: absolute;
    background-color: rgba(30, 32, 34, 0.6);
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    padding-block: 12px;
}

.image-info-part-1 p {
    margin-bottom: 2px;
}

.track-information-container {
    position: absolute;
    top: 12px;
    left: 12px;
}

.track-logo-and-name, .track-country-and-category {
    display: flex;
    flex-direction: row;
    gap: 4px;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 1);
}

.track-logo-and-name {
    max-height: 64px;
}

.track-logo-and-name img {
    object-fit: contain;
    width: 120px;
}

.track-name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4px;
}

.clickable-text {
    font-size: 16px;
    font-weight: 700;
}

.track-country-and-category {
    gap: 4px;
}

@keyframes reveal {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes loading-shimmer {
    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 1024px) {
    .image-section {
        height: 32vh;
    }

    .btn-success {
        display: none;
    }
}

@media (max-width: 540px) {
    .media-container {
        padding-inline: 0;
        padding-top: 2px;
        padding-bottom: 12px;
    }

    .media-inner-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-left: 8px;
    }

    .header-section {
        padding-inline: 16px;
        padding-top: 8px;
        padding-bottom: 2px;
    }

    .media-item {
        min-width: 320px;
    }

    .image-info-section {
        padding-inline: 16px;
        padding-block: 8px;
    }

    .image-info-part-1 {
        display: none;
    }

    .full-btn {
        height: 40px;
    }

    .track-logo-and-name img {
        width: 80px;
    }

    .track-name {
        display: none;
    }

    .clickable-text {
        font-size: 14px;
    }

    .image-section p {
        font-size: 12px;
    }

    .track-country-and-category {
        gap: 2px;
    }
}