@namespace GTRouteApp.Components.Detail

<div class="subheader-container">
    <div class="subheader-info">
        <span class="bi bi-info-square-fill" style="margin-right: 6px;"></span>@Info
    </div>
</div>

@code {
    [Parameter]
    public string Info { get; set; } = "View general information of --this race track--";
}