@page "/credits"

<PageTitle>Credits | GTRoad</PageTitle>

<div class="credits-container">
    <div class="credits-description">
        <div class="credits-modul">
            <h2>Credits</h2>
        </div>

        <div class="credits-modul">
            <h3>Library / Development Tools</h3>
            <p>
                ASP.NET Core by Microsoft<br>
                CloudinaryDotNet by Cloudinary<br>
                Imagekit by ImageKit Private Limited<br>
                Blazored Modal by Blazored<br>
                Bootstrap by Bootstrap team
            </p>
        </div>

        <div class="credits-modul">
            <h3>Media</h3>
            <p>
                Sony Interactive Entertainment<br>
                Polyphony Digital<br>
                Adobe<br>
                Rowdy (https://youtube.com/&copy;RowdyGT)<br>
                Tom Verdoot (https://www.pexels.com/&copy;tomverdoot)<br>
                CSS Loading Animations by Whirl (https://whirl.netlify.com)<br>
                Open Iconic by Iconify<br>
                Bootstrap icons by Bootstrap team
            </p>
        </div>

        <div class="credits-modul">
            <h3>Font</h3>
            <p>
                Plus Jakarta Sans by Tokotype
            </p>
        </div>
    </div>
</div>

@code {
    
}