@inherits LayoutComponentBase

<div class="page">
    <div class="navigation-bar sticky-top">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <FooterView />
</div>
