@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid" style="padding-inline: 16px;">
        <a class="navbar-brand" href="">
            <img src="img/general/gtroad_logo_00.png" alt="gtroad" />
        </a>
        <div class="navbar-button-group">
            <button title="Search"
                @onclick="() => AccessSearch()"
                class="navbar-button">
                <span class="bi bi-search"></span>
            </button>
            <button title="Navigation menu" 
                class="navbar-button"
                data-bs-toggle="collapse" 
                data-bs-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="navbar-nav">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span>Home</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="browse">
                        <span>Browse</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="about">
                        <span>About</span>
                    </NavLink>
                </div>
            </div>
        </div>
        <button @onclick="() => AccessSearch()"
            class="navbar-button standalone-button">
            <span class="bi bi-search"></span>
            <AppTooltip Text="Search Race Track"
                WidthInPx="150" 
                TopPositionInPx="68" 
                RightPositionInPx="22"/>
        </button>
    </div>
</nav>

@code {
    private void AccessSearch()
    {
        NavigationManager.NavigateTo("/search");
    }
}