.navbar {
    width: 100%;
}

.navbar-button-group {
    display: none; /* flex on smaller screen */
    flex-direction: row;
    gap: 8px;
}

.navbar-button {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.25em;
    padding: .25em .75em;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25em;
    transition: .25s;
}

    .navbar-button:hover {
        box-shadow: 0 0 8px 2px;
    }

    .navbar-button span {
        color: rgba(255, 255, 255, 0.75);
        display: inline-flex;
        width: 1.5em;
        height: 1.5em;
        align-items: center;
        justify-content: center;
    }

.standalone-button {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 1px 0px 8px rgba(30, 32, 34, 0.6);
}

    .standalone-button:hover > ::deep .button-tooltip {
        opacity: 1;
        visibility: visible;
    }

.navbar-brand {
    width: 160px;
}

.navbar-brand img {
    object-fit: contain;
    width: 100%;
}

.nav-item {
    font-size: 0.95rem;
    padding-inline: 0.5rem;
    padding-block: 3rem;
}

    .nav-item ::deep a {
        color: #f0f5f9;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    color: #f4f4f2;
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* START OF underline animation on hover */
.nav-item ::deep span {
    position: relative;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.6);
}

.nav-item ::deep span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.4px;
    bottom: 10px;
    left: 0;
    background-color: #f0f5f9;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
}

.nav-item ::deep span:hover::after {
    transform: scaleX(1);
}
/* END OF underline animation on hover */

@media (max-width: 575px) {
    .navbar-button-group {
        display: flex;
    }

    .standalone-button {
        display: none;
    }

    .nav-item {
        padding: 0;
    }

        .nav-item:first-of-type {
            padding-top: 12px;
        }

    .nav-link span {
        margin-left: 12px;
    }
}
