@page "/devmode"
@inject NavigationManager NavigationManager

<PageTitle>Dev Mode</PageTitle>

<button class="btn btn-primary" @onclick="EnterDevMode">Enter</button>

@code {
    private void EnterDevMode()
    {
        NavigationManager.NavigateTo("/devmode/list");
    }
}