h5 {
    font-weight: 700;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p {
    color: #1e2022;
    margin-bottom: 0;
}

.manage-gallery-container {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-nav {
    width: 60%;
    height: 6vh;
    margin-top: 1%;
}

.form-content {
    background-color: white;
    width: 60%;
    height: 100%;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.2);
}

.form-title {
    padding-block: 8px;
}

.gallery-form-group {
    display: flex;
    flex-direction: row;
}

.form-group-0 {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.form-group-1 {
    width: 50%;
}

.form-img {
    background-color: #e8e8e8;
    border: 0.5px solid #1e2022;
    border-radius: 4px;
    overflow: hidden;
    height: 240px;
}

.form-group-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.form-block-row {
    display: block;
    margin-bottom: 8px;
}

.form-flex-row {
    display: flex;
    margin-bottom: 8px;
    justify-content: flex-end;
}

.form-flex-row button {
    width: auto;
}

.gallery-view {
    border-top: 2px solid #1e2022;
    padding-top: 24px;
    margin-top: 24px;
}

::deep .validation-message {
    color: #d72323;
    font-size: 14px;
}