h5 {
    font-weight: 700;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p {
    color: #1e2022;
    margin-bottom: 0;
}

.manage-layouts-container {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.layouts-form-nav {
    width: 60%;
    height: 6vh;
    margin-top: 1%;
}

.layouts-form-content {
    background-color: white;
    width: 60%;
    height: 100%;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.2);
}

.form-title {
    padding-block: 8px;
}

.layouts-form-group {
    display: flex;
    flex-direction: row;
}

.form-group-1 {
    width: 40%;
}

.form-img {
    background-color: #e8e8e8;
    border: 0.5px solid #1e2022;
    border-radius: 4px;
    overflow: hidden;
    height: 90%;
}

.form-group-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
}

.form-w50 {
    width: 50%;
}

.form-block-row {
    display: block;
    margin-bottom: 8px;
}

.form-block-row button {
    width: 100%;
}

.layouts-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-block: 16px;
    padding-inline: 24px;
    border-top: 2px solid #1e2022;
}

.layout-list-item {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border: 1px solid #1e2022;
    border-radius: 12px;
    margin-top: 16px;
}

.item-group-1 {
    width: 40%;
}

.item-img {
    background-color: #1e2022;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
}

.item-group-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    justify-content: space-around;
}

.item-info-row {
    margin-bottom: 16px;
}

.item-info-row-multi {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
}

.detail-label {
    font-size: 14px;
    font-weight: 600;
}

.detail-value, .item-info-row p {
    font-size: 20px;
    font-weight: 700;
}

.item-action-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

::deep .validation-message {
    color: #d72323;
    font-size: 14px;
}