.gallery-container {
    background-color: #e8e8e8;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.gallery-highlight {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #1e2022;
    overflow: hidden;
    color: #f4f4f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.gallery-highlight::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--bg-cover);
    background-size: cover;
    transition: .5s;
    z-index: -1;
    animation: reveal-cover .75s ease-in-out forwards;
}

.highlight-section-1 {
    padding-top: 8px;
    padding-inline: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight-section-1 p {
    display: flex;
    align-items: center;
    height: 1.4em;
    gap: 6px;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.8);
}

.section-1-country-span {
    display: inline-block;
    max-width: 0%;
    overflow: hidden;
    animation: span-max-width 0.5s ease-out forwards;
}

.highlight-section-1 img {
    object-fit: contain;
    width: 16vw;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.6));
    animation: img-max-opacity 0.75s ease-in forwards;
}

.highlight-section-2 {
    padding-bottom: 8px;
    padding-inline: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.section-2-left {
    display: flex;
    flex-direction: column;
}

.section-2-left p {
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.8);
}

.section-2-left span {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
    animation: span-max-width 0.5s ease-out forwards;
}

.btn {
    width: 14vw;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.gallery-selection {
    background-color: #e8e8e8;
    width: 100%;
    height: 35vh;
    padding-block: 10px;
    padding-inline: 8px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    box-shadow: inset 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.gallery-selection::-webkit-scrollbar {
    display: none;
}

.gallery-item-container, .gallery-item-container-selected {
    background-size: cover;
    background-blend-mode: overlay;
    width: 22vw;
    border-radius: 16px;
    transform: scale(0.95);
    transition: 0.25s;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
}

.gallery-item-content {
    background-color: rgba(244, 244, 242, 0.7);
    backdrop-filter: blur(1px);
    height: 100%;
    color: #1e2022;
    border: 1px solid #1e2022;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-item-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(30, 32, 34, 0.9);
}

.gallery-item-content-selected {
    background-color: rgba(30, 32, 34, 0.7);
    backdrop-filter: blur(1px);
    height: 100%;
    color: #f4f4f2;
    border: 2px solid #ffc107;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-item-content img, .gallery-item-content-selected img {
    width: 10vw;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.4));
}

.gallery-item-content p, .gallery-item-content-selected p {
    margin-bottom: -24px;
    width: 20vw;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.4);
}

@keyframes span-max-width {
    0% { max-width: 0%; }
    100% { max-width: 100%; }
}

@keyframes img-max-opacity {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes reveal-cover {
    from { opacity: 0; transform: translateY(24px) scale(1.1); }
    to { opacity: 1; transform: translateY(0) scale(1.0); } 
}