.subheader-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: #1e2022;
}

.subheader-info {
    color: #f4f4f2;
    font-size: 16px;
    font-weight: 500;
}

.subheader-view-options {
    display: flex;
    flex-direction: row;
    height: 30px;
    border-radius: 16px;
    overflow: hidden;
    align-items: center;
}

.subheader-view-options button {
    border-radius: 0;
    width: 48px;
}

    .subheader-view-options button:last-of-type {
        margin-left: 1px;
    }

.btn-selection {
    color: #1e2022;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-selection:hover {
    color: #1e2022;
    background-color: #ffca2c;
    border-color: #ffc720;
}