@using GTRouteApp.Data

<div class="grid-container">
    @if (!showGrid)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="grid-list">
            @for (int i = 0; i < 20; i++)
            {
                <div class="item-container">
                    <div class="item-content">
                        <div class="content-section-1">
                            <img 
                                src="img/sample-logo.png"
                                alt="img/sample-logo.png"
                            />
                            <p>Trial Mountain</p>
                        </div>
                        <div class="content-section-2">
                            <p>
                                <span class="fi fi-jp"></span>
                                <span> Original Circuit</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    private bool showGrid  = true; // temporary variable
}