.subheader-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: #1e2022;
}

.subheader-info, .subheader-category-selection span {
    color: #f4f4f2;
    font-size: 16px;
    font-weight: 500;
}

.subheader-options {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-left: 1px solid #e8e8e8;
}

.subheader-category-selection span {
    color: #ffc107;
    margin-left: 12px;
}

.subheader-category-selection {
    background-color: #2b2b28;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    width: 190px;
    gap: 6px;
    margin-left: 18px;
}

.subheader-view-options {
    display: flex;
    flex-direction: row;
    height: 30px;
    border-radius: 16px;
    overflow: hidden;
    align-items: center;
}

.subheader-view-options button {
    border-radius: 0;
    width: 48px;
}

    .subheader-view-options button:last-of-type {
        margin-left: 1px;
    }

.btn-selection {
    color: #1e2022;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-selection:hover {
    color: #1e2022;
    background-color: #ffca2c;
    border-color: #ffc720;
}

@media (max-width: 540px) {
    .subheader-container {
        height: 8.6vh;
    }

    .subheader-info {
        font-size: 3.8vw;
        width: 70%;
    }

    .subheader-view-options {
        height: 36px;
        border-radius: 24px;
    }

    .subheader-view-options button {
        width: 54px;
    }
}