<div class="gallery-container">
    <div class="gallery-highlight" style="background-image: url('img/sample-cover.jpg');">
        <div class="highlight-section-1">
            <p><span class="bi bi-geo-alt-fill"></span> Country</p>
            <img
                src="img/sample-logo.png"
                alt="track logo"
            />
        </div>
        <div class="highlight-section-2">
            <div class="section-2-left">
                <p>Dev Index Test (will be deleted after api integration)</p>
                <p><span>@genericData.ElementAt(selectedIndex)</span></p>
                <p>Road Type</p>
                <p><span>Tarmac</span></p>
                <p>No. Of Layouts</p>
                <p><span>5</span></p>
            </div>
            <button type="button" class="btn btn-secondary">View</button>
        </div>
    </div>
    <div class="gallery-selection">
        @foreach(var item in genericData.Select((text, index) => (text, index)))
        {
            @if (selectedIndex == item.index)
            {
                <div class="gallery-item-selected">
                    <img
                        src="img/sample-logo.png"
                        alt="track logo"
                    />
                    <p>@item.text</p>
                </div>
            }
            else
            {
                <div class="gallery-item" @onclick="() => SetSelection(item.index)">
                    <img
                        src="img/sample-logo.png"
                        alt="track logo"
                    />
                    <p>@item.text</p>
                </div>
            }
        }
    </div>
</div>

@code {
    private List<string> genericData = new List<string>(); // to be deleted after api integration 
    private int selectedIndex = 0;

    protected override void OnInitialized()
    {
        // to be deleted after api integration
        for (int i = 0; i < 20; i++)
        {
            genericData.Add($"dummy track {i} string");
        }
    }

    private void SetSelection(int index)
    {
        selectedIndex = index;
    }
}