<div class="selection-container">
    <div class="selection-header">
        <p>Category Selection</p>
        <button type="button" class="btn btn-danger">
            <span class="bi bi-x-square-fill"></span>
        </button>
    </div>
    <div class="selection-category">
        <div class="category-row">
            <button type="button" class="btn category-item">
                <p>Original Circuits</p>
            </button>
            <button type="button" class="btn category-item">
                <p>Real Circuits</p>
            </button>
        </div>
        <div class="category-row">
            <button type="button" class="btn category-item">
                <p>City Circuits</p>
            </button>
            <button type="button" class="btn category-item">
                <p>Dirt / Snow</p>
            </button>
        </div>
    </div>
    <div class="selection-footer">
        <button type="button" class="btn btn-warning">
            Show All Race Tracks
        </button>
    </div>
    <div class="small-footer"></div>
</div>