.gallery-container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.gallery-highlight {
    width: 100%;
    height: 100vh;
    background-color: #1e2022;
    background-size: cover;
    color: #f4f4f2;
    padding-block: 8px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight-section-1 p {
    display: flex;
    align-items: center;
    height: 1.4em;
    gap: 6px;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.8);
}

.section-1-country-span {
    display: inline-block;
    max-width: 0%;
    overflow: hidden;
    animation: span-max-width 0.5s ease-out forwards;
}

.highlight-section-1 img {
    object-fit: contain;
    width: 16vw;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.6));
    animation: img-max-opacity 0.75s ease-in forwards;
}

.highlight-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.section-2-left {
    display: flex;
    flex-direction: column;
}

.section-2-left p {
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.8);
}

.section-2-left span {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
    animation: span-max-width 0.5s ease-out forwards;
}

.btn {
    width: 14vw;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.gallery-selection {
    background-color: #e8e8e8;
    width: 100%;
    height: 35vh;
    padding-block: 10px;
    padding-inline: 8px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.gallery-item {
    background-color: #f4f4f2;
    color: #1e2022;
    border: 1px solid #1e2022;
    border-radius: 16px;
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: scale(0.95);
    transition: 0.25s;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.2);
}

.gallery-item:hover{
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.8);
}

.gallery-item-selected {
    background-color: #1e2022;
    color: #f4f4f2;
    border: 1px solid #f0f5f9;
    border-radius: 16px;
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: scale(0.95);
    transition: 0.25s;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.gallery-item img, .gallery-item-selected img {
    width: 10vw;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.2));
}

.gallery-item p, .gallery-item-selected p {
    margin-bottom: -24px;
    width: 20vw;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.2);
}

@keyframes span-max-width {
    0% { max-width: 0%; }
    100% { max-width: 100%; }
}

@keyframes img-max-opacity {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}