<div class="gallery-container">
    <div class="gallery-highlight" style="background-image: url('img/sample-cover.jpg');">
        <div class="highlight-section-1">
            <p><span class="bi bi-geo-alt-fill"></span> Country</p>
            <img
                src="img/sample-logo.png"
                alt="track logo"
            />
        </div>
        <div class="highlight-section-2">
            <div class="section-2-left">
                <p>Road Type</p>
                <p><span>Tarmac</span></p>
                <p>No. Of Layouts</p>
                <p><span>5</span></p>
            </div>
            <button type="button" class="btn btn-secondary">View</button>
        </div>
    </div>
    <div class="gallery-selection">
        @for (int i = 1; i <= 20; i++)
        {
            <div class="gallery-item">
                <p>TRACK @i</p>
            </div>
        }
    </div>
</div>

@code {
    
}