@using GTRouteApp.Data

<div class="grid-container">
    @if (!showGrid)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="grid-list">
            @for (int i = 0; i < 20; i++)
            {
                <div class="item-container">
                    <div class="item-content">
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    private bool showGrid  = true; // temporary variable
}