@using GTRouteApp.Data
@inject NavigationManager NavigationManager

<div class="subheader-container">
    <div class="subheader-info">
        <span class="bi bi-info-square-fill"></span> @Info
    </div>

    <div class="subheader-view-options">
        <button type="button" class="btn btn-primary" 
            @onclick="() => SwitchMode(BrowseMode.Gallery)"
            disabled=@disableGallery>
            <span class="bi bi-image-fill"></span>
        </button>
        <button type="button" class="btn btn-primary" 
            @onclick="() => SwitchMode(BrowseMode.Grid)"
            disabled=@disableGrid>
            <span class="bi bi-grid-3x3-gap-fill"></span>
        </button>
    </div>
</div>

@code {
    [Parameter]
    public string Info { get; set; } = "";

    [Parameter]
    public EventCallback<BrowseMode> ChosenBrowseMode { get; set; }

    private bool disableGallery = true;
    private bool disableGrid = false;

    private void SwitchMode(BrowseMode mode)
    {
        disableGallery = disableGallery ? false : true;
        disableGrid = disableGrid ? false : true;

        ChosenBrowseMode.InvokeAsync(mode);
    }
}