@page "/browse/gallery"

<PageTitle>Browse</PageTitle>

<BrowseSubheader Info="Click or tap a track on the bottom to highlight" />

<h1>Browse - Gallery Mode</h1>

<p>⚠️ Under Construction ⚠️</p>

@code {
    
}