@page "/search"
@namespace GTRouteApp.Components.Search

<div class="search-container">
    <div class="inner-container">
        <div class="search-input-group">
            <input class="form-control form-control-lg keyword-form" 
                placeholder="Find race track..." 
                @bind="@_keyword"
                @bind:event="oninput"
                @onkeypress="HandleKeyDown" />
            <button class="btn btn-success" 
                @onclick="Find" 
                type="button">
                <span class="bi bi-search"></span> Search
            </button>
        </div>
        <div class="search-result-area">
        </div>
        <div class="search-notice-container">
            <SearchNotice IconCssClass="@_noticeIcon" Text="@_textNotice" />
        </div>
    </div>
</div>

@code {
    private const string InitialIconCssClass = "bi bi-map";
    private const string NotFoundIconCssClass = "bi bi-database-slash";
    private const string InitialNotice = "Search result will be shown here.";
    private const string NotFoundNotice = "Race track could not be found. Please try again with different keyword.";
    private string _noticeIcon = InitialIconCssClass;
    private string _textNotice = InitialNotice;
    private string _keyword = "";

    private void HandleKeyDown(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            Find();
        }
    }

    public void Find()
    {
        Console.WriteLine($"keyword = {_keyword}");
    }
}