@page "/about"

<PageTitle>About | GTRoad</PageTitle>

<div class="about-container">
    <div class="about-description">
        <div class="about-modul">
            <h2>About</h2>
        </div>

        <div class="about-modul">
            <h3>What is GTRoad?</h3>
            <p>
                GTRoad is fan-made site where you can find information about race tracks in Gran Turismo, the car racing 
                video game series. Gran Turismo series featuring many race tracks from iconic original circuit such as 
                Trial Mountain and High Speed Ring, as well as real-life and purposely-built world circuit like Fuji Speedway.
            </p>
            <p>
                Here, you can get details of these race tracks on GTRoad, such as country location, 
                available track layout configuration, and images of the track.
            </p>
        </div>

        <div class="about-modul">
            <h3>Words from Developer</h3>
            <p>
                GTRoad is developed and maintained by me &#40;Ardo Thenardo&#41;. Gran Turismo is one of my favorite racing game series. 
                I've played many GT games from first game to the latest Gran Turismo 7 that was released back in March 2022. 
                One of aspects from Gran Turismo that I like is its collection of unique original race tracks or 
                circuits that many GT fans know and love such as Deep Forest, Trial Mountain, Grand Valley, and many more. 
                These locations are fictional but still feel realistic for motor racing competition and even comparable to real-life circuit.
            </p>
            <p>
                GTRoad was created as my may to appreciate original race tracks from Gran Turismo series as well as race tracks that 
                exists in real life and featured on Gran Turismo games.
            </p>
        </div>
    </div>
</div>

@code {
    
}