.selection-container {
    display: flex;
    flex-direction: column;
    width: 24vw;
}

.selection-header {
    background-color: #303841;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    padding-block: 8px;
}

.selection-header > p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: #f4f4f2;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.9);
}

.selection-header > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 40px;
    box-shadow: 1px 0px 8px rgba(30, 32, 34, 0.9);
}

.selection-mode-area {
    display: flex;
    flex-direction: column;
}

    .selection-mode-area button {
        font-size: 16px;
        font-weight: 600;
        text-align: justify;
        margin-top: 6px;
        margin-inline: 6px;
        padding-block: 12px;
        border: 1.8px solid transparent;
        border-radius: 8px;
        transition: .25s;
        box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.5);
    }

    .selection-mode-area button:last-of-type {
        margin-bottom: 6px;
    }

    .selection-mode-area button:hover, 
    .selection-mode-area button:disabled {
        color: #ffc107;
        background-color: #1e2022;
        border-color: #ffc107;
    }

    .selection-mode-area button:hover {
        box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.8);
    }

    .selection-mode-area button:disabled {
        color: #f4f4f2;
        opacity: 0.85;
    }

    .selection-mode-area button span {
        margin-right: 4px;
    }

.small-footer {
    background-color: #303841;
    height: 14px;
}

@media (max-width: 540px) {
    .selection-container {
        width: 70vw;
    }
}