@page "/"
@using GTRouteApp.Data
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (tracks.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Road Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in tracks)
            {
                <tr>
                    <td>@track.Name</td>
                    <td>@track.Country</td>
                    <td>@track.RoadType</td>
                </tr>
            }
        </tbody>
    </table>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private List<RaceTrack> tracks = new();
    private string apiUrl = "https://localhost:7253/tracks"; // choose between -> "https://localhost:7253/tracks" or "sample-data/track.json"
    protected override async Task OnInitializedAsync()
    {
        var tracksData = await Http.GetFromJsonAsync<BaseModel<List<RaceTrack>>>(apiUrl);
        if (tracksData is not null)
        {
            tracks.AddRange(tracksData.Data ?? new List<RaceTrack>());
        }
    }
}