@page "/"
@using GTRouteApp.Data
@inject RaceTrackService RaceTrackService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (tracks.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Road Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in tracks)
            {
                <tr>
                    <td>@track.Name</td>
                    <td>@track.Country?.name</td>
                    <td>@track.RoadType</td>
                </tr>
            }
        </tbody>
    </table>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private List<RaceTrack> tracks = new();
    
    protected override async Task OnInitializedAsync()
    {
        await LoadTracks();
    }

    private async Task LoadTracks()
    {
        this.tracks = await RaceTrackService.GetTracks();
    }
}