<div class="footer-container">
    <div class="footer-column">
        <span class="footer-label">Navigation</span>
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <span>Home</span>
        </NavLink>
        <NavLink class="nav-item" href="browse">
            <span>Browse</span>
        </NavLink>
        <NavLink class="nav-item" href="browse?preselect_mode=gallery">
            <span>- Gallery View</span>
        </NavLink>
        <NavLink class="nav-item" href="browse?preselect_mode=grid">
            <span>- Grid View</span>
        </NavLink>
    </div>

    <div class="footer-column">
        <div class="footer-separator"></div>
        <NavLink class="nav-item" href="about">
            <span>About</span>
        </NavLink>
        <NavLink class="nav-item" href="contact">
            <span>Contact</span>
        </NavLink>
    </div>

    <div class="footer-column">
        <span class="footer-label">Reach Us</span>
        <a href="#"><span class="bi bi-twitter" style="margin-right: 6px"></span>&#64;at_gtroad_twt</a>
        <a href="#"><span class="bi bi-instagram" style="margin-right: 6px"></span>&#64;at_gtroad_ig</a>
        <div class="footer-separator"></div>
        <img src="img/general/gtroad_logo_00.png" alt="logo" />
    </div>
</div>