<div class="footer-container">
    <div class="footer-row-1">
        <div class="footer-column">
            <span class="footer-label">Navigation</span>
            <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                <span>Home</span>
            </NavLink>
            <NavLink class="nav-item" href="about">
                <span>About</span>
            </NavLink>
            <NavLink class="nav-item" href="credits">
                <span>Credits</span>
            </NavLink>
        </div>

        <div class="footer-column">
            <div class="footer-separator"></div>
            <NavLink class="nav-item" href="browse">
                <span>Browse</span>
            </NavLink>
            <NavLink class="nav-item" href="browse?mode=gallery">
                <span>- Gallery View</span>
            </NavLink>
            <NavLink class="nav-item" href="browse?mode=grid">
                <span>- Grid View</span>
            </NavLink>
        </div>

        <div class="footer-column">
            <span class="footer-label">Social Media</span>
            <a href="@instagramAccountLink" target="_blank" rel="noopener noreferrer">
                <span class="bi bi-instagram" style="margin-right: 6px"></span>&#64;at_gtroad_ig
            </a>
            <div class="footer-separator"></div>
            <div class="credits-mobile">
                <div style="height: 24px;"></div>
                <NavLink class="nav-item" href="credits">
                    <span>Credits</span>
                </NavLink>
            </div>
            <img src="img/general/gtroad_logo_00.png" alt="logo" />
        </div>
    </div>

    <div class="footer-row-2">
        <p><strong>GTRoad</strong> by <a href="https://ardothenardo.github.io/" target="_blank" rel="noopener noreferrer">Ardo Thenardo</a></p>
    </div>
</div>

@code {
    private string instagramAccountLink = "https://www.instagram.com/at_gtroad_ig/";
}