span {
    color: #f4f4f2;
}

p {
    color: #f4f4f2;
    margin-bottom: 0;
}

a, ::deep a {
    color: #f4f4f2;
    text-decoration: none;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-row-1 {
    background-color: #303841;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    padding-block: 48px;
    padding-inline: 32px;
    border-top: 1px solid #e8e8e8;
}

.footer-row-2 {
    display: flex;
    background-color: #2b2b28;
    align-items: center;
    justify-content: center;
    padding-block: 18px;
}

.footer-row-2 p {
    font-size: 18px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    font-weight: 500;
}

.footer-column img {
    object-fit: contain;
    height: 42px;
}

.footer-label {
    font-size: 20px;
    font-weight: 700;
}

.footer-separator {
    height: 24px;
}