.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 5rem; /* same as .navigation-bar height */
}

.navigation-bar {
    background-image: linear-gradient(180deg, #232526 0%, #414345 70%);
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5rem; /* same as main height */
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

.content {
    padding-top: 0;
}

@media (max-width: 575px) {
    .navigation-bar {
        height: auto;
        position: sticky;
    }

    main {
        margin-top: 0;
    }
}