.navbar {
    width: 100%;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-inline: 0.5rem;
    padding-block: 3rem;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.nav-item ::deep a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 6px;
}

@media (max-width: 575px) {
    .nav-item {
        padding: 0;
    }

        .nav-item:first-of-type {
            padding-top: 12px;
        }

    .nav-link span {
        margin-left: 12px;
    }
}
