<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid" style="padding-inline: 16px;">
        <a class="navbar-brand" href="">GTRouteApp</a>
        <button title="Navigation menu" 
            class="navbar-toggler"
            data-bs-toggle="collapse" 
            data-bs-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="navbar-nav">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span>Home</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="browse">
                        <span>Browse</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="about">
                        <span>About</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="contact">
                        <span>Contact</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="devmode">
                        <span>Dev Mode</span>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</nav>
