.navbar {
    width: 100%;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-inline: 0.5rem;
    padding-block: 3rem;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* START OF underline animation on hover */
.nav-item ::deep span {
    position: relative;
}

.nav-item ::deep span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 12px;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
}

.nav-item ::deep span:hover::after {
    transform: scaleX(1);
}
/* END OF underline animation on hover */

@media (max-width: 575px) {
    .nav-item {
        padding: 0;
    }

        .nav-item:first-of-type {
            padding-top: 12px;
        }

    .nav-link span {
        margin-left: 12px;
    }
}
