.gallery-container {
    background-color: #e8e8e8;
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: column;
}

.gallery-highlight {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #1e2022;
    overflow: hidden;
    color: #f4f4f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.gallery-highlight::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, transparent 50%, black 150%), var(--bg-cover);
    background-size: cover;
    background-position: center;
    transition: .5s;
    z-index: -1;
    animation: reveal-cover .75s ease-in-out forwards;
}

.highlight-section-1 {
    padding-top: 8px;
    padding-inline: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight-section-1 p {
    display: flex;
    align-items: center;
    height: 1.4em;
    gap: 6px;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 1px 0px 3px rgba(30, 32, 34, 0.95);
}

.section-1-country-span {
    display: inline-block;
    max-width: 0%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    animation: span-max-width 0.5s ease-out forwards;
}

.highlight-section-1 img {
    object-fit: contain;
    width: 16vw;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.6));
    animation: img-max-opacity 0.75s ease-in forwards;
}

.highlight-section-2 {
    padding-bottom: 8px;
    padding-inline: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.section-2-left {
    display: flex;
    flex-direction: column;
}

.section-2-left p {
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 0px 3px rgba(30, 32, 34, 0.95);
}

.section-2-left span {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
    animation: span-max-width 0.5s ease-out forwards;
}

.btn {
    width: 14vw;
    padding: 10px;
    border-radius: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.btn-more {
    width: 160px;
}

.gallery-selection {
    background-color: #e8e8e8;
    width: 100%;
    height: 20%;
    padding-block: 10px;
    padding-inline: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: inset 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.gallery-selection::-webkit-scrollbar {
    background-color: #e8e8e8;
    height: 10px;
}

.gallery-selection::-webkit-scrollbar-thumb {
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #1e2022;
    background-clip: padding-box;
}

.gallery-item-container, .gallery-item-container-selected {
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
    transform: scale(0.95);
    transition: 0.25s;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
}

.gallery-item-content {
    background-color: rgba(244, 244, 242, 0.7);
    backdrop-filter: blur(1px);
    width: 24vh;
    height: 100%;
    color: #1e2022;
    border: 1px solid;
    border-color: #1e2022;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .25s;
}

.gallery-item-content:hover {
    background-color: rgba(30, 32, 34, 0.4);
    border: 2px solid;
    border-color: #ffc107;
}

.gallery-item-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(30, 32, 34, 0.9);
}

.gallery-item-content-selected {
    background-color: rgba(30, 32, 34, 0.7);
    backdrop-filter: blur(1px);
    width: 24vh;
    height: 100%;
    color: #f4f4f2;
    border: 2px solid #ffc107;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-item-content img, .gallery-item-content-selected img {
    object-fit: contain;
    width: 64%;
    height: 80%;
    filter: drop-shadow(0 0 3px rgba(30, 32, 34, 0.4));
}

.more-notice {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e2022;
    padding-inline: 16px;
}

.more-notice p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    text-shadow: 1px 0px 8px rgba(30, 32, 34, 0.4);
}

.item-revelation {
    opacity: 0;
    animation: reveal-item-left .5s forwards;
}

@keyframes span-max-width {
    0% { max-width: 0%; }
    100% { max-width: 100%; }
}

@keyframes img-max-opacity {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes reveal-cover {
    from { opacity: 0; transform: translateY(24px) scale(1.1); }
    to { opacity: 1; transform: translateY(0) scale(1.0); } 
}

@keyframes reveal-item-left {
    from { translate: -20px 0; }
    to { translate: none; opacity: 1; }
}

@media (max-width: 540px) {
    .gallery-container {
        height: 78vh;
    }

    .gallery-highlight {
        height: 75%;
    }

    .gallery-highlight::before {
        background-image: radial-gradient(circle, transparent 25%, black 150%), var(--bg-cover);
    }

    .highlight-section-1 p {
        font-size: 5vw;
    }

    .highlight-section-1 img {
        width: 32vw;
    }

    .highlight-section-2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        width: 100%;
        font-size: 3.6vw;
    }

    .btn-more {
        width: 160px;
    }

    .section-2-left span {
        font-size: 5vw;
    }

    .section-2-left p {
        font-size: 3.4vw;
    }

    .gallery-selection {
        height: 25%;
    }

    .gallery-item-content, .gallery-item-content-selected {
        width: 26vh;
    }

    .gallery-item-content img, .gallery-item-content-selected img {
        width: 58%;
    }
}