@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.Components.Detail

<div class="gallery-container">
    @if (Images.Count() < 1)
    {
        <DetailNoData Text="image" />
    }
    else
    {
        <DetailGalleryInnerHeader Info="Click or tap a image to highlight" 
            SelectedMode="DetailGalleryMode.Slideshow" />

        @if (_SelectedMode == DetailGalleryMode.Slideshow)
        {
            <DetailGallerySlideshow LoadedImages="@loadedImages" 
                TotalNumberOfImages="@Images.Count()"
                OnLoadMoreClicked="() => LoadImages(nextPage)" />
        } 
        else if (_SelectedMode == DetailGalleryMode.Grid)
        {
            <DetailGalleryGrid LoadedImages="@loadedImages"
                TotalNumberOfImages="@Images.Count()" />
        }
    }
</div>

@code {
    [Parameter]
    public List<TrackImage> Images { get; set; } = new();

    private List<TrackImage> loadedImages = new();
    private int nextPage = 1;
    private const int itemLimit = 6;
    private DetailGalleryMode _SelectedMode = DetailGalleryMode.Grid;
    
    protected override void OnInitialized()
    {
        LoadImages(nextPage);
    }

    private void LoadImages(int page)
    {
        var images = Images.Skip(itemLimit * (page - 1)).Take(itemLimit).ToList();
        loadedImages.AddRange(images);

        nextPage += 1;
    }
}