@using GTRouteApp.Helpers
@namespace GTRouteApp.Components.Detail

<div class="header-container">
    <div class="header-view-options">
        <button type="button" class="btn btn-selection"
            @onclick="() => SwitchMode(DetailGalleryMode.Slideshow)" 
            disabled=@_disableSlideshow>
            <span class="bi bi-image-fill" style="margin-left: 4px;"></span>
            <AppTooltip Text="Slideshow View"
                HtmlPosition="absolute" 
                WidthInPx="120" 
                TopPositionInPx="42" 
                LeftPositionInPx="8"/>
        </button>

        <button type="button" class="btn btn-selection"
            @onclick="() => SwitchMode(DetailGalleryMode.Grid)"
            disabled=@_disableGrid>
            <span class="bi bi-list-task" style="margin-left: -4px;"></span>
            <AppTooltip Text="Grid View"
                HtmlPosition="absolute" 
                WidthInPx="94" 
                TopPositionInPx="42" 
                LeftPositionInPx="46"/>
        </button>
    </div>

    <div class="header-info">
        <span class="bi bi-info-circle" style="margin-right: 6px;"></span>@Info
    </div>
</div>

@code {
    [Parameter]
    public string Info { get; set; } = "";
    [Parameter]
    public DetailGalleryMode SelectedMode { get; set; } = DetailGalleryMode.Slideshow;
    [Parameter]
    public EventCallback<DetailGalleryMode> OnGalleryModeChanged { get; set; }

    private bool _disableSlideshow = true;
    private bool _disableGrid = false;

    protected override void OnParametersSet()
    {
        switch (SelectedMode)
        {
            case DetailGalleryMode.Slideshow:
                _disableSlideshow = true;
                _disableGrid = false;
                break;
            case DetailGalleryMode.Grid:
                _disableSlideshow = false;
                _disableGrid = true;
                break;
        }
    }

    private async Task SwitchMode(DetailGalleryMode mode)
    {
        _disableSlideshow = _disableSlideshow ? false : true;
        _disableGrid = _disableGrid ? false : true;

        await OnGalleryModeChanged.InvokeAsync(mode);
    }
}