p {
    color: #1e2022;
    margin-bottom: 0;
}

.detail-player-container {
    background-image: url('img/gtroad-sample-bg-01.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #e8e8e8;
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    padding: 16px;
}

.detail-player-container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: inset 1px 1px 8px rgba(30, 32, 34, 0.6);
}

.player-side-sub-container {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.detail-player-row-1 button, .play-confirmation button {
    font-size: 14px;
    font-weight: 500;
    border-radius: 24px;
    padding-inline: 18px;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
}

.detail-player-row-2 {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.player-column {
    background-color: transparent;
}

.detail-player {
    width: 100%;
}

.play-confirmation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    aspect-ratio: 16 / 9;
    box-shadow: 1px 1px 16px rgba(30, 32, 34, 0.6);
}

.play-confirmation::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-thumbnail);
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
}

.play-confirmation button {
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.information-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4px;
}

.information-column > span {
    background-color: #ffc107;
    color: #1e2022;
    padding-block: 6px;
    padding-inline: 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
}

.information-column p:first-of-type {
    font-size: 18px;
    font-weight: 700;
}

.information-column p:nth-of-type(2),
.information-column p:last-of-type {
    margin-top: 6px;
}

.information-column p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 600;
}

.information-column p:last-of-type {
    font-size: 16px;
    font-weight: 500;
}

.related-side-sub-container {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    margin-top: 36px;
    border-left: 0.6px solid #1e2022;
}

.related-header {
    padding-block: 6px;
    margin-bottom: 12px;
    border-bottom: 1.8px solid #1e2022;
}

.related-header span {
    font-size: 16px;
    font-weight: 600;
    color: #1e2022;
}

.related-videos {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-anchor: none;
    height: 68vh;
}

.related-videos::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.related-videos::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1e2022;
    border: 1.2px solid transparent;
}

.related-video-item,
.current-video-item {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 8px;
    padding: 12px;
    overflow: hidden;
    isolation: isolate;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: .25s;
}

.related-video-item:hover {
    cursor: pointer;
    background-color: #f4f4f2;
    border: 1px solid #ffc107;
    transform: scale(0.95);
    box-shadow: 1px 1px 10px rgba(30, 32, 34, 0.9);
}

.related-video-item:hover > .related-thumbnail-area span {
    text-shadow: 1px 1px 8px rgba(255, 193, 7, 0.8);
    transition: .25s;
}

.current-video-item {
    pointer-events: none;
    background-color: #1e2022;
    border: 1px solid #ffc107;
    transform: scale(0.95);
    box-shadow: 1px 1px 10px rgba(30, 32, 34, 0.4);
}

.related-thumbnail-area, 
.current-thumbnail-area {
    position: relative;
}

.related-thumbnail-area img,
.current-thumbnail-area img {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(30, 32, 34, 0.4);
}

.related-thumbnail-area span:first-of-type,
.current-thumbnail-area span:first-of-type {
    position: absolute;
    color: rgba(244, 244, 242, 0.9);
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.related-thumbnail-area span:nth-of-type(2),
.current-thumbnail-area span:nth-of-type(2) {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: rgba(30, 32, 34, 0.8);
    color: #f4f4f2;
    font-size: 10px;
    font-weight: 500;
    padding: 4px;
    border-radius: 4px;
}

.related-info-area,
.current-info-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
}

.related-info-area > span,
.current-info-area > span {
    display: inline-block;
    background-color: #ffc107;
    color: #1e2022;
    padding-block: 4px;
    padding-inline: 8px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 700;
}

.related-info-area p:first-of-type,
.current-info-area p:first-of-type {
    font-size: 15px;
    font-weight: 700;
}

.related-info-area p:last-of-type,
.current-info-area p:last-of-type {
    font-size: 14px;
    font-weight: 600;
}

.current-info-area p {
    color: #f4f4f2;
}

@media (max-width: 540px) {
    .detail-player-container {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        padding-top: 8px;
        padding-inline: 16px;
        border-top: 1.4px solid #1e2022;
        overflow-y: scroll;
    }

    .detail-player-container::after {
        box-shadow: unset;
    }

    .detail-player-header {
        padding-top: 8px;
    }

    .player-side-sub-container {
        padding-right: 0;
    }

    .related-side-sub-container {
        padding-left: 0;
        margin-top: 12px;
        border-left: 0;
    }

    .related-header, .related-videos {
        display: none;
    }

    .related-video-item {
        padding: 4px;
    }

    .related-video-item:hover {
        cursor: pointer;
        background-color: transparent;
        border: unset;
        transform: scale(1);
        box-shadow: unset;
    }
    
    .related-video-item:hover > .related-thumbnail-area span {
        text-shadow: unset;
    }

    .current-video-item {
        transform: scale(1);
    }
}

@media (max-height: 414px) {
    .player-side-sub-container {
        overflow-y: auto;
    }
}
