@using GTRouteApp.Models
@using GTRouteApp.Helpers
@namespace GTRouteApp.HomeComponents

<div class="media-container">
    <div class="media-inner-container">

        <div class="media-item" style="background-image:url('img/sample-cover.jpg');">
            <div class="item-section-top">
                <span>Race Replay</span>
                <img src="sample-logo.png" alt="track logo" />
            </div>
            <div class="item-section-middle">
                <span class="bi bi-play-circle"></span>
            </div>
            <div class="item-section-bottom">
                <div class="bottom-section-1">
                    <p>Apricot Hill GT3 Race Clip</p>
                    <p>
                        <span class="bi bi-person-fill"></span>
                        DriverName
                    </p>
                </div>
                <span>
                    <i class="bi bi-stopwatch"></i> @TimeConverters.ConvertSecondsToMinutes(128)
                </span>
            </div>
        </div>

    </div>
</div>