.subheader-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 11px;
    padding-inline: 16px;
    background-color: #1e2022;
}

.subheader-info {
    color: #f4f4f2;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 540px) {
    .subheader-container {
        min-height: 44px;
        max-height: 44px;
        border-bottom: 0.8px solid #e8e8e8;
    }

    .subheader-info {
        font-size: 12px;
    }
}